.config-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
}

.config-container label:first-child {
    grid-column: 1 / span 2;
}

.config-container > label {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
