.config-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
}

.config-container > label {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.label-dj_control {
    grid-column: 1 / span 2;
}

.label-database {
    grid-column: 3;
    grid-row: 1 / span 2;
}
