$config-class-name: '.config-container'

@mixin borders
  margin: 5px
  padding: 5px
  border: 2px solid black
  border-radius: 5px

#{$config-class-name}
  display: grid
  text-align: center
  grid-template-columns: auto auto

  label:first-child
    grid-column: 1 / span 2
    @include borders

  > label

    &:hover
      background: #cccccc !important
      cursor: pointer
    input
      visibility: hidden
