@mixin borders
  margin: 5px
  padding: 5px
  border: 2px solid black
    radius: 5px

.config-hover
  &:hover
    background: #cccccc !important
    cursor: pointer

.config-container
  display: grid
  text-align: center
  grid-template-columns: auto auto

  div
    table
      @include borders

      width: 99%
      text-align: justify

    label
      display: block

  label
    @include borders

    &:first-child
      grid-column: 1 / span 2

    input
      visibility: hidden
