{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="{% static app_label|add:'/js/main_page_scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static app_label|add:'/css/config.css' %}">
</head>
<body onload="requestConfigValue('{% url 'rest:conf-cur-state' %}')">
    <div class="config-container">
        <label>Django control<input id={{ ids.django }} type="checkbox" onchange="changeConfigValue(this)" /></label>
        <label>Index bot active<input id={{ ids.index }} type="checkbox" onchange="changeConfigValue(this)" /></label>
        <label>Binance bot active<input id={{ ids.binance }} type="checkbox" onchange="changeConfigValue(this)" /></label>
    </div>
    <label>Database data</label>
</body>
</html>