{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="{% static app_label|add:'/js/main_page_scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static app_label|add:'/css/main_page_config.css' %}">
</head>
<body onload="requestConfigValue('{% url 'rest:conf-cur-state' %}')">
    <div class="config-container">
        <label>Django control<input id={{ ids.django }} type="checkbox" onchange="changeConfigValue(this)" /></label>
        <div>
            <label>Index bot active<input id={{ ids.index }} type="checkbox" onchange="changeConfigValue(this)" /></label>
            <table>
                <tr><th>New timestamp:</th><td>1</td></tr>
                <tr><th>Minimal sell price:</th><td>1</td></tr>
                <tr><th>Buy range:</th><td>1</td></tr>
            </table>
        </div>
        <label>Binance bot active<input id={{ ids.binance }} type="checkbox" onchange="changeConfigValue(this)" /></label>
            <table>
                <tr><th>New timestamp:</th><td>1</td></tr>
                <tr><th>Minimal sell price:</th><td>1</td></tr>
                <tr><th>Buy range:</th><td>1</td></tr>
            </table>
    </div>
</body>
</html>