{{> header }}
    <div class="config-container">
        <label class="label-dj_control">Django control<input id={{ dj_control_id }} type="checkbox" name="dj_control" onchange="changeConfigValue(this)" /></label>
        <label>Index bot active<input id={{ ind_control_id }} type="checkbox" name="ind_bot_control" onchange="changeConfigValue(this)" /></label>
        <label>Binance bot active<input id={{ bin_control_id }} type="checkbox" name="bin_bot_control" onchange="changeConfigValue(this)" /></label>
    </div>
    <label class="label-database">Database data</label>
{{> footer }}